<section id="author-dialog" class="is-dialog dialog">
    <header class="dialog-header">
        <button class="dialog-close-button" id="dialog-close-button">x</button>
        <h1>Author Auswählen</h1>
    </header>
    <section id="author-dialog-existing">

        <div class="book-form">
            <div class="book-form-group">
                <label for="author-input" class="book-form-label">Name:</label>

                <div class="book-form-field">
                    <input type="text" class="form-control" id="modify-author-dialog-input" placeholder="Nachname, Vorname" name="author-input">
                </div>
            </div>
            <div class="book-form-group">
                <label class="book-form-label">Vorhandene:</label>
                <div class="book-form-field">
                    <ul id="modify-author-dialog-existing-list" class="select-box">
                        {{#authors}}
                            <li class="select-box-item" data-author-id="{{id}}">{{displayName}}</li>
                        {{/authors}}
                    </ul>
                </div>
            </div>
        </div>

    </section>

</section>