<div>
    <h3>Gelesene Bücher</h3>


    <div class="list-group">
        {{#books}}

            <a href="#/book/{{id}}" class="list-group-item">
                <h4 class="list-group-item-heading">{{title}}</h4>

                <p class="list-group-item-text">
                    {{first_name}} {{middle_name}} {{last_name}}, Gelesen: {{read_date_end}}
                </p>
            </a>
        {{/books}}
    </div>

</div>