<form class="book-form" id="modify-form" role="form" action="/">

    <input type="hidden" name="id" id="modify-id" value="{{id}}">

    <div class="book-form-group">
        <label for="modify-title" class="book-form-label">Buchtitel:</label>

        <div class="book-form-field">
            <input type="text" class="form-control" id="modify-title" name="title" value="{{title}}">
        </div>
    </div>
    <div class="book-form-group">
        <label for="modify-author-id" class="book-form-label">Author:</label>
        <div class="book-form-field input-like-indented">
            <input name="author_id" id="modify-author-id" type="hidden" value="{{author_id}}">
                <span id="modify-author-name">
                    {{#author_id}}{{last_name}}, {{first_name}} {{middle_name}}{{/author_id}}
                    {{^author_id}}Kein Author{{/author_id}}
                </span>
            <button type="button" class="condensed" id="modify-author-selector" data-toggle="modal"
                    data-target="#modify-author-dialog">&hellip;</button>

        </div>

    </div>
    <div class="book-form-group">
        <label for="modify-page-count" class="book-form-label">Seitenzahl:</label>

        <div class="book-form-field number">
            <input type="number" class="form-control" id="modify-page-count" name="page_count" value="{{page_count}}">
        </div>
    </div>
    <div class="book-form-group">
        <label for="modify-isbn" class="book-form-label">ISBN:</label>

        <div class="book-form-field ">
            <input type="text" class="form-control isbn" id="modify-isbn" name="isbn" value="{{isbn}}">
            <i id="action-search-isbn" class="icon-search"></i>
        </div>
    </div>
    <div class="book-form-group">
        <label for="modify-publisher" class="book-form-label">Verlag:</label>

        <div class="book-form-field">
            <input type="text" class="form-control" id="modify-publisher" name="publisher" value="{{publisher}}">
        </div>
    </div>
    <div class="book-form-group">
        <label for="modify-publication-year" class="book-form-label">Veröffentlichungsjahr:</label>

        <div class="book-form-field number">
            <input type="number" class="form-control" id="modify-publication-year" name="publication_year"
                   value="{{publication_year}}">
        </div>
    </div>


    <div class="book-form-group">
        <label class="book-form-label">
            <input type="checkbox" id="modify-is-read" {{#book_read}}checked="checked" data-foo="bar"{{/book_read}}>
            Gelesen
            <input type="hidden" id="modify-read-state" name="read_state">
        </label>
        <div class="book-form-field is-read-context hidden">
            <hr>
        </div>
    </div>

    <div class="book-form-group is-read-context hidden">
        <label class="book-form-label">
            Aufgeschlagen
        </label>
        <div class="book-form-field date">
            <input value="{{read_date_start}}" type="date" class="form-control" name="read_date_start" id="modify-read-date-start">
        </div>
    </div>
    <div class="book-form-group is-read-context hidden">
        <label class="book-form-label">
            Zugeschlagen
        </label>
        <div class="book-form-field date">
            <input value="{{read_date_end}}" type="date" class="form-control" name="read_date_end" id="modify-read-date-end">
        </div>
    </div>

    <div class="book-form-group is-read-context hidden">
        <label for="modify-read-rating" class="book-form-label">Bewertung:</label>

        <div class="book-form-field number">
            <input type="number" class="form-control" id="modify-read-rating" name="read_rating" step="0.01"
                   value="{{read_rating}}">
        </div>
    </div>
    <div class="book-form-group is-read-context hidden">
        <label for="modify-read-comment" class="book-form-label">Kommentar:</label>

        <div class="book-form-field">
            <textarea class="form-control" id="modify-read-comment" name="read_comment" rows="6">{{read_comment}}</textarea>
        </div>
    </div>
    <div class="book-form-group is-read-context hidden">
        <label class="book-form-label">Anmerkungen:</label>

        <div class="book-form-field">
            {{#tagModel}}
                <input type="checkbox" {{#selected}}checked{{/selected}} name="{{name}}" id="{{name}}" /> <label for="{{name}}">{{title}}</label><br/>
            {{/tagModel}}

        </div>

    </div>
    <div class="book-form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Speichern</button>
        </div>
    </div>
</form>

