<ul class="existing-author-autocomplete-suggestions">
    {{#suggestions}}
        <li class="existing-author-autocomplete-suggestion {{matchType}}" data-author-id="{{id}}">{{authorName}}</li>
    {{/suggestions}}
    <li class="existing-author-autocomplete-createnew" id="author-create-new">Neu Erstellen</li>
</ul>
