<!DOCTYPE html>
<html>
<head>
    <title>Hamster's Books</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="main-navigation" id="main-navigation">
    <div class="l-row">

        <h1 class="main-navigation-title">Hamster's Books</h1>
        <div class="select-list-item" id="list-selection-dialog-trigger"></div>
        <ul class="main-navigation-menu">
            <li id="read-books-action" class="main-navigation-menu-item is-main-menu-item"><a
                    href="#/read">Gelesen</a></li>
            <li id="unread-books-action" class="main-navigation-menu-item is-main-menu-item"><a
                    href="#/unread">SUB</a></li>
            <li id="new-book-action" class="main-navigation-menu-item is-main-menu-item"><a
                    href="#/new">Eintrag<span class="main-navigation-menu-abbrev">en</span></a></li>
            <li id="statistics-action" class="main-navigation-menu-item is-main-menu-item"><a href="#/statistics">Statistik</a>
            </li>
        </ul>

    </div>
</div>

<div class="l-row l-mainarea" id="app-contentarea">

</div>

</body>
</html>
