<section id="list-selection-dialog" class="list-selection-dialog dialog">
    <header class="dialog-header">
        <h1>Listen</h1>
    </header>
    <ul class="list-selection-dialog-options" id="list-selection-dialog-options">
        {{#all}}
            <li class="list-selection-dialog-options-option" data-list-id="{{id}}">{{name}}</li>
        {{/all}}

    </ul>
</section>
