<section id="loading-dialog" class="is-dialog a-loading dialog">
    <header class="dialog-header">
        <h1>{{title}}</h1>

        <div class="dialog-car">
            <div class="dialog-car-movable">
                &#x1F697;
            </div>
        </div>
    </header>
</section>