<section id="loading-dialog" class="is-dialog a-loading dialog">
    <header class="dialog-header">
        <h1>{{title}}</h1>
    </header>
    <section class="dialog-content">
        <canvas id="loading-spinner" class="dialog-content-loadingimage">

        </canvas>
    </section>
</section>