<div>
    <h1>Gelesene Bücher</h1>
    <canvas id="read-history-books-chart" width="960" height="{{height}}"></canvas>

    <h1>Gelesene Seiten</h1>
    <canvas id="read-history-pages-chart" width="960" height="{{height}}"></canvas>
</div>