<div>

    <p>
    <div>
        <canvas id="read-history-books-diagram" class="hamstersbooks-diagram" height="400"></canvas>
    </div>
    </p>
    <p>
    <div>
        <canvas id="read-pages-history-books-diagram" class="hamstersbooks-diagram" height="400"></canvas>
    </div>
    </p>
        <p>
        <div>
            <canvas id="sub-history-books-diagram" class="hamstersbooks-diagram" height="400"></canvas>
        </div>
        </p>
</div>
