<div>
    <h1>Gelesene Bücher</h1>

    <div id="read-history-books-diagram" class="ct-chart hamstersbooks-diagram ct-octave"></div>

    <h1>Gelesene Seiten</h1>
    <div id="read-history-pages-diagram" class="ct-chart hamstersbooks-diagram ct-octave"></div>
</div>
