<section id="unread-books">
    <p class="l-rightalign">
        SUB: {{unreadCount}}, Alt-SUB: {{oldSubCount}},
        Wartezeit: {{unreadTime.years}} Jahre, {{unreadTime.months}} monate
    </p>
    <div class="list-group">
        {{#groups}}
            <section class="cluster">
                <h3 class="cluster-title">{{groupName}}</h3>
                <section class="cluster-content">
                    {{#books}}
                        <a href="#/book/{{id}}" class="unread-book-entry">
                            <section class="unread-book-entry-head">
                                <section class="unread-book-entry-added">Eingetragen am {{addedDate}}</section>
                                <section class="unread-book-entry-subduration">({{subDuration}} Monate)</section>
                            </section>
                            <section class="unread-book-entry-title">{{title}}</section>

                        </a>

                        </a>
                    {{/books}}
                </section>
            </section>
        {{/groups}}
    </div>

</section>
