<section id="unread-books">
    <p class="l-rightalign">
        SUB: {{unreadCount}}, Alt-SUB: {{oldSubCount}}
    </p>
    <div class="list-group">
        {{#groups}}
            <section class="cluster">
                <h3 class="cluster-title">{{groupName}}</h3>
                <section class="cluster-content">
                    {{#books}}
                        <a href="#/book/{{id}}" class="unread-book-entry">
                            <span class="unread-book-entry-title">{{title}}</span>
                            <span class="unread-book-entry-added">{{addedDate}}</span>
                        </a>
                    {{/books}}
                </section>
            </section>
        {{/groups}}
    </div>

</section>