.dialog-header {
  border-bottom: 1px solid @hamsters-books-grey;
  clear: both;
  h1 {
    margin-bottom: 2px;
  }

  .dialog-close-button {
    vertical-align: bottom;
    font-size: 0.8rem;
    border: 1px solid @hamsters-books-lightgrey;
    color: @hamsters-books-lightgrey;
    font-weight: bold;
    background: white;
    border-radius: 3px;
    margin: 0;
    float: right;
  }
}