.unread-book-entry {

  text-decoration: none;
  color: black;
  display: block;
  margin-top: 0.5rem;
  font-size: 0;

  .unread-book-entry-title {
    font-size: 1rem;
  }

  .unread-book-entry-added {
    font-size: 1rem;
    color: @hamsters-books-lightgrey;
    text-align: right;
  }

  .unread-book-entry-title {
    display: inline-block;
    width: 75%;
  }

  .unread-book-entry-added {
    display: inline-block;
    width: 25%;
  }


}

